@import "tailwindcss";

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}


* {
  font-family: "Outfit", sans-serif;
}


/* Default styling for larger screens */
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  display: flex !important;
  width: 60px !important;
  height: 60px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

/* Adjust button size and position for tablets */
@media (max-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 50px !important;
    height: 50px !important;
  }
}


/* Customizing button text */
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "›"; /* Change from "next" to an arrow symbol */
  font-size: 20px !important; 
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-prev:after {
  content: "‹"; /* Change from "next" to an arrow symbol */
  font-size: 20px !important; 
}


/* Adjust for mobile screens */
@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px !important;
    height: 40px !important;
  }
}

/* Adjust for very small screens */
@media (max-width: 480px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 35px !important;
    height: 35px !important;
  }
}

@media (max-width: 768px) {
  .contactBtn {
    top: 29rem !important;
  }
}

@media (max-width: 820px) {
  .contactBtn {
    top: 45rem !important;
  }
}